@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}

* {
    margin: 0;
    padding: 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.menu-button {
    transition: transform 0.3s ease;
    /* Example transition on transform property with 0.3s duration */
}

.menu-button:hover {
    transform: scale(1.1);
    /* Example transformation on hover */
}